
body{
    background-color: #E5EDF1;
    margin:0;
    padding:0;
}

h2{
    margin-bottom: 0;
}

/*NAVEGADOR*/
/*barra de Navegación*/
nav {
    margin: 0;
    position: sticky; /*posicion para que solo se quede la barra en la primera página*/
    top: 0;
}

.main-menu {
    padding: 0;
    width: auto;
    height: auto;
    background-color: #96C2DB;
    display: flex;
    justify-content: flex-end; /* para la derecha*/
    align-items: center;
    list-style-type: none;
    position: sticky;
    top: 0;
    flex-direction: row;
    transform: translateY(0); /*esto es para que el menu de antes no se vea jeje*/
    transition: transform 0.3s ease; /*transicion para que se vea guay*/

}

.main-menu_item {
    margin: 0.5vw 0;
    float: left;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    height: 5vh; /*que vaya variando la height y eso*/

}

.main-menu_link {
    font-family: 'Spiny Lobster', Verdana;
    display: flex;
    font-size: 1.1vw;
    color: black;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.main-menu_link:hover {
    text-decoration: underline;
    transform: scale(1.1);

}

.imagen-perfil{
    width: 3vw;
}

.todos-test {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7vw;
    margin: 5vh 10vw;
    text-align: center;
}

.test{
    background-color: white;
    border-radius: 10%;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.imagen-quizz{
    padding: 3vh 0;
    width: 20vw;
}

.click{
    text-decoration: none;
    font-size: 1vw;
    color: white;
    background-color: #96C2DB;
    border-radius: 25px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 2% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 1s ease;
}