
h1{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

.login{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.imagen-Log{
    width: 25vw;
    height: auto;
    margin-left: 10vw;
}
/* contenedor del formulario */
form {
    background-color: #E5EDF1;
    border-radius: 10%;
    padding: 0 5vw;
    max-width: 600px;
    margin: auto;

}

/*cada una de los fomularios (nombre, email, ciudad y pais)*/
.column-half {
    flex: 1; /*pa que ocupe lo mismo*/
    padding-top: 1vh;
}

/*el input donde escriben los usuarios su cartita*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.row-full{
    display: flex;
    flex-direction: row;
}
.cuenta{
    color:  #96C2DB;
    padding: 2% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 1s ease;
}
/*boton de enviar*/
input[type=submit] {
    font-family: 'Spiny Lobster', Verdana;
    font-size: 1vw;
    color: white;
    background-color: #96C2DB;
    border-radius: 25px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding: 2% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 1s ease;
}

input[type=submit]:hover {
    background-color: #88B0C7;
}
