/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}


.resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}