/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #E5EDF1;
}

/*fuentes*/
@font-face {
    font-family: 'Spiny Lobster';
    src: url('/static/fonts/SpinyLobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cookies';
    src: url('/static/fonts/CookiesMagis.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Coolvetica';
    src: url('/static/fonts/coolvetica.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Spiny Lobster', Verdana;
    color: #7192A5;
    font-size: 6vh;
    margin: 8vh 0;
}
h2 {
    display: flex;
    justify-content: center;
    font-family: 'Spiny Lobster', Verdana;
    color: #7192A5;
    font-size: 4vh;
    margin: 8vh 0;
}

.questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}
/* Estilos para la pregunta */
.question-container {
    margin-bottom: 30px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    width: 50vw;
    align-content: center;
}


.question-text {
    font-family: 'Coolvetica', Verdana;
    font-size: 2.5vh;
    margin-bottom: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor del slider */
.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1vh 0;
    padding: 2vh;
}

.slider-labels {
    display: flex;
    margin-bottom: 2vh;
    justify-content: space-between;
}

.label{
    display: flex;
    font-family: 'Cookies', Verdana;
    font-size: 2vh;

}

/* Estilos para el slider */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: linear-gradient(to right, #e74c3c 0%, #e74c3c 50%, #2ecc71 100%);
    outline: none;
    border-radius: 5px;
    margin: 0;
    display: flex;
    justify-content: center;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #555;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #555;
    border-radius: 50%;
    cursor: pointer;
}

/* Botón de enviar */

.submitbtn{
    display: flex;
    justify-content: center;
    margin: 4vh 0;
}
.submit-btn {
    font-family: 'Cookies', Verdana;
    background-color: #96C2DB;
    color: white;
    border: none;
    padding: 2vh 3vw;
    font-size: 3vh;
    border-radius: 20vw;
    cursor: pointer;
    transition: all 0.3s ease; /*transicion para que se vea guay*/
}

.submit-btn:hover {
    background-color: #7192A5;
}
