/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
/* Estilos para la pregunta */
.question-container {
    margin-bottom: 30px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 20vh;
    width: 50vw;
    align-content: center;
}


.question-text {
    font-size: 18px;
    margin-bottom: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor del slider */
.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.slider-labels {
    display: flex;
    margin-bottom: 5vh;
    justify-content: space-between;
}

.label{
    display: flex;

}

/* Estilos para el slider */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #e74c3c 0%, #e74c3c 50%, #2ecc71 100%);
    outline: none;
    border-radius: 5px;
    margin: 0 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #555;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #555;
    border-radius: 50%;
    cursor: pointer;
}

/* Botón de enviar */
.submit-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #2980b9;
}
