<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width",
          initial-scale="1.0">
    <title>TESTS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> <!-- jQuery -->

</head>

<body>
    <nav>
        <ul class="main-menu">
            {% if username %}
                <li class="main-menu_item" id="perfil-img">
                    <img src="{{ url_for('static', filename='images/perfil.svg') }}" alt="perfil" class="imagen-perfil" onclick="toggleDropdown(event)">
                    <div id="dropdown-menu" class="dropdown-content" style="display: none;">
                        <a href="/perfil" class="main-menu_link">MI PERFIL</a>
                        <a href="/logout" id="cerrarSesion" class="main-menu_link">CERRAR SESIÓN</a>
                    </div>
                </li>
            {% else %}
                <li class="main-menu_item" id="login-button">
                    <button class="main-menu_link" onclick="window.location.href='/login'">INICIA SESIÓN</button>
                </li>
                <li class="main-menu_item" id="register-button">
                    <button class="main-menu_link" onclick="window.location.href='/register'">REGÍSTRATE</button>
                </li>
            {% endif %}
        </ul>
    </nav>
    <script src="{{ url_for('static', filename='script/nav.js') }}"></script>

    <div>
        {% if username %}
            <h1>BIENVENIDA, {{ username }}</h1>
            <!-- Contenido específico para usuarios autenticados -->
        {% else %}
            <h1>BIENVENIDA A NUESTRA WEB DE TESTS</h1>
            <h4>Por favor, inicia sesión o regístrate para acceder a todas las funcionalidades.</h4>
        {% endif %}
    </div>

    <div class="todos-test">
        <div class="test">
            <h2>TEST 1</h2>
            <h3> ¿Qué casa de harry potter eres?</h3>
            <img src="{{ url_for('static', filename='images/harrypotter.svg') }}" alt="harrypotter" class="imagen-quizz">
            {% if username%}
            <a href="/test/Test de Harry Potter" class="click">click para hacer el test</a>
            {% else %}
            <button class="click"  onclick="alerta()">Inicia Sesión para poder hacer el test</button>
            {% endif %}
        </div>
        <div class="test">
            <h2>TEST 2</h2>
            <h3>¿Qué tipo de pizza eres?</h3>
            <img src="{{ url_for('static', filename='images/pizza.svg') }}" alt="pizza" class="imagen-quizz">
            {% if username%}
            <a href="/test/Test de Sabores de Pizza" class="click">click para hacer el test</a>
            {% else %}
            <button class="click">Inicia Sesión para poder hacer el test</button>
            {% endif %}
        </div>
        <div class="test">
            <h2>TEST 3</h2>
            <h3>¿Qué electrodoméstico eres?</h3>
            <img src="{{ url_for('static', filename='images/electrodomesticos.svg') }}" alt="electrodomestico" class="imagen-quizz">
            {% if username%}
            <a href="/test/Test de Electrodomesticos" class="click">click para hacer el test</a>
            {% else %}
            <button class="click">Inicia Sesión para poder hacer el test</button>
            {% endif %}
        </div>
        <div class="test">
            <h2>TEST 4</h2>
            <h3>¿Qué dedo del pie eres?</h3>
            <img src="{{ url_for('static', filename='images/pie.svg') }}" alt="dedopie" class="imagen-quizz">
            {% if username%}
            <a href="/test/Test de Dedo Pie" class="click">click para hacer el test</a>
            {% else %}
            <button class="click">Inicia Sesión para poder hacer el test</button>
            {% endif %}
        </div>
        <div class="test">
            <h2>TEST 5</h2>
            <h3>¿Cuál es tu personalidad?</h3>
            <img src="{{ url_for('static', filename='images/personalidad.svg') }}" alt="personalidad" class="imagen-quizz">
            {% if username%}
            <a href="/test/Test de Personalidad" class="click">click para hacer el test</a>
            {% else %}
            <button class="click">Inicia Sesión para poder hacer el test</button>
            {% endif %}
        </div>
        <div class="test">
            <h2>TEST 6</h2>
            <h3>¿Qué comida combina con tu personalidad?</h3>
            <img src="{{ url_for('static', filename='images/comida.svg') }}" alt="comida" class="imagen-quizz">
            {% if username%}
            <a href="/test/Test de Comida" class="click">click para hacer el test</a>
            {% else %}
            <button class="click">Inicia Sesión para poder hacer el test</button>
            {% endif %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='script/home.js') }}"></script>

</body>
</html>