<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado del Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/mostrar_resultado.css') }}">

</head>
<body>
    <div class="resultado">
        <h1>Resultado del {{ name_test }}</h1>
        <div class="result">
            <p>{{ result }}</p>
        </div>

        <!-- Mostrar imagen según el resultado -->
        <div class="imagen-resultado">
            {% if result == 'Extrovertido/a y Líder natural' %}
                <img src="{{ url_for('static', filename='images/extrovertido.svg') }}" alt="Extrovertido/a y Líder natural">
            {% elif result == 'Colaborador/a empático/a' %}
                <img src="{{ url_for('static', filename='images/colaborador.svg') }}" alt="Colaborador/a empático/a">
            {% elif result == 'Equilibrado/a' %}
                <img src="{{ url_for('static', filename='images/equilibrado.svg') }}" alt="Equilibrado/a">
            {% elif result == 'Individualista y Organizado/a' %}
                <img src="{{ url_for('static', filename='images/individualista.svg') }}" alt="Individualista y Organizado/a">
            {% elif result == 'Introvertido/a y Reservado/a' %}
                <img src="{{ url_for('static', filename='images/introvertido.svg') }}" alt="Introvertido/a y Reservado/a">

            {% elif result == 'Gryffindor' %}
                <img src="{{ url_for('static', filename='images/gryffindor.svg') }}" alt="Gryffindor">
            {% elif result == 'Slytherin' %}
                <img src="{{ url_for('static', filename='images/slytherin.svg') }}" alt="Slytherin">
            {% elif result == 'Ravenclaw' %}
                <img src="{{ url_for('static', filename='images/ravenclaw.svg') }}" alt="Ravenclaw">
            {% elif result == 'Hufflepuff' %}
                <img src="{{ url_for('static', filename='images/hufflepuff.svg') }}" alt="Hufflepuff">
            {% elif result == 'Dobby el elfo doméstico' %}
                <img src="{{ url_for('static', filename='images/dobby.svg') }}" alt="Dobby el elfo doméstico">

            {% elif result == 'Pizza Hawaiana' %}
                <img src="{{ url_for('static', filename='images/hawaiana.svg') }}" alt="Pizza Hawaiana">
            {% elif result == 'Pizza Pepperoni' %}
                <img src="{{ url_for('static', filename='images/pepperoni.svg') }}" alt="Pizza Pepperoni">
            {% elif result == 'Pizza Cuatro Quesos' %}
                <img src="{{ url_for('static', filename='images/cuatro_quesos.svg') }}" alt="Pizza Cuatro Quesos">
            {% elif result == 'Pizza Margarita' %}
                <img src="{{ url_for('static', filename='images/margarita.svg') }}" alt="Pizza Margarita">
            {% elif result == 'Pizza Vegetariana' %}
                <img src="{{ url_for('static', filename='images/vegetariana.svg') }}" alt="Pizza Vegetariana">

            {% elif result == 'Eres una Lavadora' %}
                <img src="{{ url_for('static', filename='images/lavadora.svg') }}" alt="Lavadora">
            {% elif result == 'Eres un Frigorifico' %}
                <img src="{{ url_for('static', filename='images/frigorifico.svg') }}" alt="Refrigerador">
            {% elif result == 'Eres un Microondas' %}
                <img src="{{ url_for('static', filename='images/microondas.svg') }}" alt="Microondas">
            {% elif result == 'Eres una Aspiradora' %}
                <img src="{{ url_for('static', filename='images/aspiradora.svg') }}" alt="Aspiradora">
            {% elif result == 'Eres un Ventilador' %}
                <img src="{{ url_for('static', filename='images/ventilador.svg') }}" alt="Ventilador">

            {% elif result == 'Eres el Dedo Gordo' %}
                <img src="{{ url_for('static', filename='images/dedo_gordo.svg') }}" alt="Dedo Gordo">
            {% elif result == 'Eres el Dedo Índice' %}
                <img src="{{ url_for('static', filename='images/dedo_indice.svg') }}" alt="Dedo Índice">
            {% elif result == 'Eres el Dedo del Medio' %}
                <img src="{{ url_for('static', filename='images/dedo_medio.svg') }}" alt="Dedo del Medio">
            {% elif result == 'Eres el Dedo Anular' %}
                <img src="{{ url_for('static', filename='images/dedo_anular.svg') }}" alt="Dedo Anular">
            {% elif result == 'Eres el Dedo Pequeño' %}
                <img src="{{ url_for('static', filename='images/dedo_pequeno.svg') }}" alt="Dedo Pequeño">

            {% elif result == 'Eres una Pizza de Pepperoni' %}
                <img src="{{ url_for('static', filename='images/pepperoni.svg') }}" alt="Pizza de Pepperoni">
            {% elif result == 'Eres un Tazón de Sopa Ramen' %}
                <img src="{{ url_for('static', filename='images/ramen.svg') }}" alt="Sopa Ramen">
            {% elif result == 'Eres una Ensalada de Frutas' %}
                <img src="{{ url_for('static', filename='images/ensalada_frutas.svg') }}" alt="Ensalada de Frutas">
            {% elif result == 'Eres un Sándwich de Mantequilla y Mermelada' %}
                <img src="{{ url_for('static', filename='images/sandwich.svg') }}" alt="Sándwich de Mantequilla y Mermelada">
            {% elif result == 'Eres un Pepinillo en Vinagre' %}
                <img src="{{ url_for('static', filename='images/pepinillo.svg') }}" alt="Pepinillo en Vinagre">
            {% endif %}
        </div>

        <div class="description">
            <p>{{description}}</p>
        </div>


        <a href="/" class="volver">Volver a la página principal</a>
    </div>
</body>
</html>
