<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PERFIL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/ver_perfil.css') }}">
</head>
<body>
    <h1>Resultados de tu amigo {{ username }}</h1>

    <div class="resultados">
        <h2>Resultados de Tests</h2>
        {% if resultados %}
            <ul>
                {% for resultado in resultados %}
                    <li>
                        <strong>{{ resultado[0] }}</strong> - Resultado: {{ resultado[1] }} <br>
                        <em>Descripción:</em> {{ resultado[2] }} <br>
                        <em>Fecha:</em> {{ resultado[3] }} <br>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Este usuario no tiene resultados aun</p>
        {% endif %}
</body>
</html>