<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Respuestas del Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/ver_respuestas.css') }}">
</head>
<body>
    <h1>Respuestas del Test: {{ name_test }}</h1>
    <ul>
        {% for pregunta, respuesta in respuestas %}
            <li>
                <strong>Pregunta:</strong> {{ pregunta }} <br>
                <strong>Tu Respuesta:</strong> {{ respuesta }}
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('perfil') }}">Volver a Mi Perfil</a>
</body>
</html>