<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PERFIL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/ver_perfil.css') }}">
</head>
<body id="body">

    <header>
        <div class="icon-menu">
            <img src="{{ url_for('static', filename='images/perfil.svg') }}" alt="perfil" class="imagen-perfil" id="btn_open">
        </div>
    </header>

        <div class="menu__side" id="menu_side">
            <div class="name__page">
                <h4>AMIGOS</h4>
            </div>
            <div class="options__menu">
                <div class="option">
                    <img src="{{ url_for('static', filename='images/amigos.svg') }}" alt="perfil" class="icono">
                    <h3>TODOS TUS AMIGOS/AS</h3>
                    <div class="amigos-lista">
                        <!-- aqui se generaran todos tus amigos -->
                    </div>
                </div>

                <div class="option">
                    <img src="{{ url_for('static', filename='images/solicitar.svg') }}" alt="solicitar" class="icono">
                    <h3>ENVIA UNA SOLICITUD</h3>
                </div>

                <div class="option">
                    <img src="{{ url_for('static', filename='images/solicitudes.svg') }}" alt="solicitudes" class="icono">
                    <h3>SOLICITUDES PENDIENTES</h3>
                </div>

            </div>
        </div>
    <script src="{{ url_for('static', filename='script/perfil.js') }}"></script>


    <h1>Perfil de {{ username }}</h1>

    <div class="resultados">
        <h2>Resultados de Tests</h2>
        {% if resultados %}
            <ul>
                {% for resultado in resultados %}
                    <li>
                        <strong>{{ resultado[0] }}</strong> - Resultado: {{ resultado[1] }} <br>
                        <em>Descripción:</em> {{ resultado[2] }} <br>
                        <em>Fecha:</em> {{ resultado[3] }} <br>
                        <a href="{{ url_for('ver_respuestas_usuario', name_test=resultado[0]) }}">Ver Respuestas</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No has completado ningún test aún.</p>
        {% endif %}
    </div>
    <div class="amigos">
        <h2>Amigos</h2>
        {% if amigos %}
            <ul>
                {% for amigo in amigos %}
                    <li>
                        <strong>{{ amigo[0] }}</strong><a href="{{ url_for('borrar_amigo', friend=amigo[0]) }}">Borrar Amistad</a><a href="{{ url_for('ver_perfil_amigo', friend=amigo[0]) }}"> | Ver Perfil</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No tienes amigos :(</p>
        {% endif %}
    </div>
    <div class="solicitudes">
        <h2>Solicitudes</h2>
        {% if solicitudes %}
            <ul>
                {% for solicitud in solicitudes %}
                    <li>
                        <strong>{{ solicitud[0] }}</strong><a href="{{ url_for('añadir_amigo', friend=solicitud[0]) }}">Añadir Amigo</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No tienes solicitudes</p>
        {% endif %}
    </div>
    <div class="enviar_solicitud">
        <h2>Enviar Solicitud de Amistad</h2>
        <form action="{{ url_for('enviar_solicitud_amigo') }}" method="POST">
            <label for="friend_username">Nombre de usuario del amigo:</label>
            <input type="text" id="friend_username" name="friend_username" placeholder="Usuario del amigo" required>
            <button type="submit">Enviar Solicitud</button>
        </form>
    </div>
</body>
</html>